  &indata_dimensionality
         ncell=1, 
	 ncy=10, 
	 ncz=1,
	 Nomp=20,
	 nky=2,
	 nkz=1      /
  &indata_basis  
	 nband_v=60,
	 ni=1,
	 nf=58,
	 nkx=2,
	 refine=.true.,
         Mplus=10,
       	 nkplus=4,
	 Ecut=50.0		 /
  &indata_cell
         ac1=3.712000d-8,
         ac2=6.4295552d-8,
         ac3=23.00000d-8	/
  &indata_inout                     
         outdir='./',
	 input_file_DFT='./tmp/1L.save/output.dat'      /             



